<header>
  <div [ngStyle]="{'display':'flex','flex-direction':'row','justify-content': 'space-between','align-items':'center'}">
    <img (click)="onEvent()" [ngStyle]="{'width':'40px','height':'40px'}" class = "logo" src = "https://cdn-icons-png.flaticon.com/512/60/60992.png">
    <div class = "name">
      {{siteName}}
    </div>
    <div [ngStyle]="{'display':'flex','align-items':'center'}">
      <img [ngStyle]="{'width':'40px','height':'40px'}" src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-casual-male-avatar-silhouette.png" />
      <span [ngStyle] = "{'font-size':'1rem'}"> {{userName}}</span>
    </div>
  </div>
</header>
