
<div fxFill>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"><a (click)="userDetails(element.id)">{{element.id}}</a>  </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> e-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="subjects">
      <th mat-header-cell *matHeaderCellDef> Subjects</th>
      <td mat-cell *matCellDef="let element"> {{element.subjects}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef> Sex </th>
      <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>
    <ng-container  matColumnDef="do">
      <th *matHeaderCellDef>DO</th>
      <td *matCellDef="let element"><button (click)="deleteRecord(element.id)">delete</button>
        <button (click)="updateRecord(element.id)">edit</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div>
  <button (click)="userDetails('ad6c440c-af29-4455-8ae3-6d50cefdb3bb')">

  </button>
</div>
